<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="kr.or.ddit.user.model.UserVo" alias="UserVo"/>
		<typeAlias type="kr.or.ddit.board.model.BoardVo" alias="BoardVo"/>
		<typeAlias type="kr.or.ddit.post.model.PostVo" alias="PostVo"/>
		<typeAlias type="kr.or.ddit.page.model.PageVo" alias="PageVo"/>
		<typeAlias type="kr.or.ddit.atchfile.model.AtchFileVo" alias="AtchFileVo"/>
		<typeAlias type="kr.or.ddit.reply.model.ReplyVo" alias="ReplyVo"/>
		
	</typeAliases>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
        <property name="url" value="jdbc:oracle:thin:@localhost:1521/xe"/>
        <property name="username" value="lmh4000"/>
        <property name="password" value="java"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/db/mapper/user.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/post.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/reply.xml"/>
    <mapper resource="kr/or/ddit/db/mapper/atchFile.xml"/>
  </mappers>
</configuration>